$primary: #354661;
$primary-dark: #25306c;
$primary-light: #2240E5;
$secondary: #AEAEAE;
$secondary-dark: #1E1E1E;
$navbar-background-color: #354661;
$menu-link-color: #fff;
$navbar-toogle-color: #354661;
$topic-pill-color: #354661;
$yellow: #FBC239;

$topic-pill-separator: 1px;

